.icon {
  margin-right: 16px;
}
.card {
  font-size: 24px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  height: 130px;
  border: 1px solid rgba(140, 196, 186, 0.87);
  border-radius: 16px;
  padding: 12px;
}
.user {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  text-align: left;
  overflow-x: auto;
  /* overflow-inline: inherit; */
  white-space: nowrap;
  text-overflow: ellipsis;
  scrollbar-width: thin;
  /* scroll-snap-align: initial; */
  /* word-wrap: break-word; */
  /* height: 50px; */
  /* height: 100%; */
  /* height: 84px; */
  /* overflow-y: auto; */
}
.nameUser {
  font-size: 24px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 110px;
  height: 42px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: 2px 3px 2px rgba(140, 196, 186, 0.87);
}
.btn:hover {
  box-shadow: 2px 4px 8px rgba(140, 196, 186, 0.87);
}

.btn:focus {
  border: 1px solid rgba(140, 196, 186, 0.87);
}
