#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* box-sizing: border-box; */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.app {
  /* text-align: center; */
}
.icon {
  fill: rgb(201, 98, 98);
}

.title {
  color: rgb(201, 98, 98);
  margin-bottom: 70px;
  box-shadow: 2px 4px 35px rgb(201, 98, 98);
}
.div {
  overflow: hidden;
}
